<header class="header">
  <nav class="container">
    <a class="logo" href="#">
      <img
        width="60" height="60"
        src="/assets/images/rb-logo.png"
        alt="Recipe Book Logo"
      >
    </a>
    <ul class="main-menu">
      <li routerLinkActive="current">
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li routerLinkActive="current">
        <a routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>
    <div class="user-menu-container dropdown" appDropdown>
      <button class="toggle dropdown__toggle" type="button">Manage</button>
      <ul class="user-menu dropdown__menu">
        <li><a href="#" (click)="onSaveDataClick($event)">Save Data</a></li>
        <li><a href="#" (click)="onFetchDataClick($event)">Fetch Data</a></li>
      </ul>
    </div>
  </nav>
</header>
