<header class="header">
  <nav class="container">
    <a class="logo" href="#">
      <img
        width="60" height="60"
        src="/assets/images/rb-logo.png"
        alt="Recipe Book Logo"
      >
    </a>
    <ul class="main-menu">
      <li>
        <a href="#" (click)="onSelect('recipes')">Recipes</a>
      </li>
      <li>
        <a href="#" (click)="onSelect('shopping')">Shopping List</a>
      </li>
    </ul>
    <div class="user-menu-container">
      <button class="toggle" type="button">Manage</button>
      <ul class="user-menu">
        <li><a href="#">Save Data</a></li>
        <li><a href="#">Fetch Data</a></li>
      </ul>
    </div>
  </nav>
</header>
