.image-preview {
  width: 313px;
  margin: 0 0 20px;
  border-radius: var(--border-radius-number);
  overflow: hidden;
}

.image-preview img {
  display: block;
}

.fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredients {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredients li {
  display: grid;
  grid-template-columns: 50% 1fr min-content;
  gap: 15px;
  align-items: center;
}

.ingredients .button {
  min-width: auto;
}

.add-ingredient {
  margin: 0 0 20px;
}

.buttons {
  margin: 0;
}

.buttons .button {
  margin-right: 7px;
}
