<section class="recipe-edit">
  <h1 class="title">
    {{ isEdit ? 'Edit recipe' : 'Add new recipe' }}
  </h1>
  <p class="image-preview" *ngIf="!!image">
    <img
      [src]="'assets/images/recipes/' + image + '.jpg'"
      [alt]=""
    >
  </p>
  <form [formGroup]="recipeForm" (submit)="onSubmit()">
    <ul class="fields">
      <li class="input">
        <label for="recipe-edit-name">Name</label>
        <input
          id="recipe-edit-name"
          type="text"
          formControlName="name"
        >
      </li>
      <li class="input">
        <label for="recipe-edit-image">Image path</label>
        <input
          id="recipe-edit-image"
          type="text"
          formControlName="image"
        >
      </li>
      <li class="input">
        <label for="recipe-edit-description">Description</label>
        <textarea
          id="recipe-edit-description"
          rows="5"
          formControlName="description"
        ></textarea>
      </li>
      <li>
        <ul class="ingredients" formArrayName="ingredients">
          <li
            *ngFor="let ingredientControl of ingredientControls; let i = index"
            [formGroupName]="i">
            <p class="input ingredient-name">
              <label for="recipe-edit-ingredient">Ingredient</label>
              <input
                id="recipe-edit-ingredient"
                type="text"
                formControlName="name"
              >
            </p>
            <p class="input">
              <label for="recipe-edit-ingredient-amount">Amount</label>
              <input
                id="recipe-edit-ingredient-amount"
                type="number"
                formControlName="amount"
              >
            </p>
            <button type="button" class="button">Delete</button>
          </li>
        </ul>
      </li>
    </ul>
    <p class="add-ingredient">
      <button class="button" type="button" (click)="onAddIngredientClick()">
        Add Ingredient
      </button>
    </p>
    <button
      class="button"
      type="submit"
      [disabled]="!recipeForm.valid"
    >Save</button>
  </form>
</section>
