<section class="auth">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form *ngIf="!isLoading" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <h1 class="title">{{ isLogin ? 'Login' : 'Sign Up' }}</h1>
    <a href="#" (click)="onSwitchModeClick($event)">
      Switch to {{ isLogin ? 'sign up' : 'login' }}
    </a>
    <ul class="fields">
      <li class="input">
        <label for="auth-email">Email</label>
        <input
          id="auth-email"
          type="email"
          formControlName="email"
        >
      </li>
      <li class="input">
        <label for="auth-password">Password</label>
        <input
          id="auth-password"
          type="password"
          formControlName="password"
        >
      </li>
    </ul>
    <button class="button" type="submit" [disabled]="!authForm.valid">
      {{ isLogin ? 'Login' : 'Sign Up' }}
    </button>
  </form>
</section>
