<section class="recipe-detail">
  <img
    [src]="'/assets/images/recipes/' + recipe.image + '.jpg'"
    [alt]="recipe.name"
  >
  <h1 class="title">{{ recipe.name }}</h1>
  <div class="user-menu-container">
    <button class="button toggle" type="button">Manage</button>
    <ul class="user-menu">
      <li><a href="#">To Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
  <div class="description">
    <p>{{ recipe.description }}</p>
  </div>
  <div class="ingredients">
    <h2 class="title">Ingredients</h2>
  </div>
</section>
