<section class="recipe-detail">
  <h1 class="title">{{ recipe.name }}</h1>
  <p class="image-wrapper">
    <img
      [src]="'/assets/images/recipes/' + recipe.image + '.jpg'"
      [alt]="recipe.name"
    >
  </p>
  <div class="user-menu-container dropdown" appDropdown>
    <button class="toggle dropdown__toggle" type="button">Manage</button>
    <ul class="user-menu dropdown__menu">
      <li><a href="#" (click)="onAddToShoppingListClick($event)">
        To Shopping List
      </a></li>
      <li><a routerLink="edit">Edit Recipe</a></li>
      <li><a href="#" (click)="onDeleteClick($event)">Delete Recipe</a></li>
    </ul>
  </div>
  <div class="description">
    <p>{{ recipe.description }}</p>
  </div>
  <div class="ingredients">
    <h2 class="title">Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} [{{ ingredient.amount }}]
      </li>
    </ul>
  </div>
</section>
