<section class="recipe-detail">
  <img src="/assets/images/recipes/falafel.jpg" alt="Falafel">
  <h1>Recipe Name</h1>
  <div class="user-menu-container">
    <button class="button toggle" type="button">Manage</button>
    <ul class="user-menu">
      <li><a href="#">To Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
  <div class="description">
    <p>Description</p>
  </div>
  <div class="ingredients">
    Ingredients
  </div>
</section>
