.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin: 0;
  padding: 10px 20px;
  font: inherit;
  color: var(--color-basic-white);
  text-decoration: none;
  background-color: var(--color-accent-dark);
  border: 0;
  border-radius: var(--border-radius-number);
  outline: none;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--color-accent-light);
}

.button:not(:disabled):focus {
  box-shadow:
    0 0 0 3px var(--color-basic-white),
    0 0 0 6px var(--color-accent-dark);
}

.button:disabled {
  background-color: var(--color-neutral);
}

.button--danger {
  background-color: var(--color-error);
}

.button--danger:not(:disabled):hover {
  background-color: var(--color-error-light);
}

.button--danger:not(:disabled):focus {
  box-shadow:
    0 0 0 3px var(--color-basic-white),
    0 0 0 6px var(--color-error);
}
