:root {
  --color-basic-black: #000000;
  --color-basic-white: #ffffff;
  --color-accent-dark: #218B82;
  --color-accent-light: #98D4BB;
  --color-neutral-light: #E5DBD9;
  --color-error: #D8315A;
  --color-error-light: #EB96AB;
  --border-radius-number: 20px;
  --border-radius-small: 5px;
  --transition-params: 0.2s ease;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1140px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--color-basic-black);
}

a {
  color: inherit;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
