<section class="shopping-list">
  <app-shopping-edit></app-shopping-edit>
  <h2>Shopping List</h2>
  <ul class="ingredients">
    <li *ngFor="
      let ingredient of (ingredients$ | async).ingredients;
      let i = index
    ">
      <a
        href="#"
        [attr.data-type]="ingredient.name"
        (click)="onIngredientClick($event, i)"
      >
        <img
          width="20"
          [src]="'../assets/images/icons/' + (ingredient.icon
            ? ingredient.icon
            : 'i-groceries.svg')"
          alt="groceries"
        >
        {{ ingredient.name | lowercase }} [{{ ingredient.amount }}]
      </a>
    </li>
  </ul>
</section>
