.recipe-item {
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-neutral-light);
  border-radius: var(--border-radius-number);
  box-shadow: 0 10px 21px rgba(0, 0, 0, 0.06);
  outline: none;
  transition: border-color var(--transition-params);
}

.recipe-item:hover,
.recipe-item:focus,
.recipe-item--current {
  border-color: var(--color-accent-dark);
}

.recipe-item--current {
  color: var(--color-basic-white);
  background-color: var(--color-accent-dark);
}

.image-wrapper {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  display: block;
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}
