:root {
  --color-basic-black: #000000;
  --color-basic-white: #ffffff;
  --color-accent-dark: #218B82;
  --color-accent-light: #98d4bb;
  --border-radius-number: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1140px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--color-basic-black);
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 10px 20px;
  font: inherit;
  color: var(--color-basic-white);
  background-color: var(--color-accent-dark);
  border: 0;
  border-radius: var(--border-radius-number);
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: var(--color-accent-light);
}

.button:focus {
  box-shadow:
    0 0 0 3px var(--color-basic-white),
    0 0 0 6px var(--color-accent-dark);
}
