<section class="shopping-edit">
  <form>
    <ul>
      <li>
        <label for="name">Name</label>
        <input id="name" type="text">
      </li>
      <li>
        <label for="amount">Amount</label>
        <input id="amount" type="number">
      </li>
    </ul>
    <p class="controls">
      <button class="button" type="submit">Add</button>
      <button class="button button--danger" type="button">Delete</button>
      <button class="button" type="reset">Clear</button>
    </p>
  </form>
</section>
