<section class="shopping-edit">
  <form
    (ngSubmit)="onSubmit(shoppingEditForm)"
    #shoppingEditForm="ngForm"
  >
    <ul class="fields">
      <li class="input">
        <label for="shopping-list-name">Name</label>
        <input
          id="shopping-list-name"
          type="text"
          name="name"
          ngModel
          required
        >
      </li>
      <li class="input">
        <label for="shopping-list-amount">Amount</label>
        <input
          id="shopping-list-amount"
          type="number"
          name="amount"
          min="1"
          max="1000"
          pattern="^[1-9]+[0-9]*"
          ngModel
          required
        >
      </li>
      <li class="input input--select">
        <label for="shopping-list-icon">Icon</label>
        <select
          name="icon"
          id="shopping-list-icon"
          ngModel
          required
        >
          <option value="i-groceries.svg" selected>Groceries</option>
          <option value="i-onion.svg">Onion</option>
          <option value="i-flour.svg">Flour</option>
          <option value="i-garlic.svg">Garlic</option>
          <option value="i-apple.svg">Apple</option>
          <option value="i-avocado.svg">Avocado</option>
          <option value="i-hazelnut.svg">Nut</option>
          <option value="i-spices.svg">Spices</option>
        </select>
      </li>
    </ul>
    <p class="controls">
      <button
        class="button"
        type="submit"
        [disabled]="!shoppingEditForm.valid"
      >
        {{ isEdit ? 'Save' : 'Add' }}
      </button>
      <button
        class="button button--danger"
        type="button"
        *ngIf="isEdit"
        (click)="onDeleteClick()"
      >Delete</button>
      <button
        class="button"
        type="reset"
        (click)="onClearClick()"
      >
        Clear
      </button>
    </p>
  </form>
</section>
